data/author_collection.pkl
data/author_collection.tsv
data/authors_info.pkl
data/authors_works_collection_ids.pkl
data/authors_works_collection_ids.tsv
data/papers_collection.pkl
data/papers_collection.tsv
data/papers_test.pkl
data/papers_test.tsv

run_files/run.bm25-rm3.top-rank.trec
run_files/run.bm25.top-rank.trec
run_files/run.doc2vec.top-rank.trec
run_files/run.msmarco-bert-base-dot-v5.top-rank.trec
run_files/run.msmarco-MiniLM-L6-cos-v5.top-rank.trec
run_files/run.ql.top-rank.trec
run_files/run.ql-rm3.top-rank.trec
run_files/run.scibert-e-sara.top-rank.trec
run_files/run.scibert_scivocab_uncased.top-rank.trec
run_files/run.specter.top-rank.trec
run_files/run.wmd.top-rank.trec

